project_id           = "your-prod-gcp-project-id"
region               = "us-central1"
environment          = "prod"
backend_image        = "us-central1-docker.pkg.dev/your-prod-gcp-project-id/75hard-backend/backend:latest"
firestore_location   = "nam5"
frontend_origin      = "https://your-frontend-domain.com"
frontend_bucket_name = "75hard-prod-frontend"
root_domain          = "blueelephants.org"
cloudflare_zone_id   = "1eb0ae8907a74b14d5226384b92946b7"
# cloudflare_api_token passed via TF_VAR_cloudflare_api_token
